*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
/* Header section =================================================== */
#header{
height: 100vh;
}
#header-info-wrap{
background: var(--accent-bg);
}
.header-info {
height: 50px;
align-items: center;
}
.container ul{
list-style-type: none;
}
.header-info-pane ul li a{
text-transform: uppercase;
color: var(--main-text);
text-decoration: none;
}
.header-info-pane ul li:not(:last-child){
margin-right: 25px;
}
.header-nav{
height: 80px;
}
#nav-left, #nav-center, #nav-right{
align-items: center;
}
#nav-center ul li a{
margin: 0 20px;
text-transform: uppercase;
font-weight: 500;
color: var(--main-text);
text-decoration: none;
}
#nav-right a{
margin: 0 15px;
}
.header-main{
height: calc(100vh - 130px);
background: url(../img/bg/bg-2.jpg);
background-size: cover;
background-position: center;
grid-template-columns: 1fr 1fr;
}
.header-main img{
width: 100%;
height: 100%;
}
.header-left{
align-items: center;
}
.header-left p{
text-align: center;
color: var(--secondary-text);
text-transform: uppercase;
font-weight: 500;
}
.header-left h1{
text-align: center;
color: var(--main-text);
width: 70%;
margin: 30px auto 60px;
}
/* Featured section =================================================== */
.featured-wrap{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
}
/* Discount-section =================================================*/
#discount{
background: var(--accent-bg);
padding: 50px 0 0 0;
}
.discount-wrap{
grid-template-columns: 1fr 1fr;
}
.discount-girl{
display: block;
width: 100%;
}
.discount-img{
display: block;
margin: 0 auto 50px;
width: 21vw;
}
.discount-wrap-left{
align-items: center;
}
/* Popular section ===================================================*/
.popular-wrap{
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
}
/* Features section */
.features-wrap{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 30px;
}
.features-item{
padding: 30px 40px 20px;
border: 1px solid #ebeef0
}
.features-item img{
display: block;
margin: 0 auto 30px;
}
.features-item p{
text-align: center;
margin-bottom: 10px;
}
.features-headline{
font-weight: 500 !important;
text-transform: uppercase;
}
/* Trending section ================================================== */
.trending-wrap{
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
}
/* Journal section ================================================= */
.journal-wrap{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 30px;
}
.journal-headline{
margin: 20px 0 30px;
}
.underline{
width: 100%;
height: 1px;
background: #e1e1e1;
margin-bottom: 30px;
}
.journal-text{
margin-left: 10px;
}
/* Social section ====================================================== */
#social{
padding: 50px 0 100px;
}
.social-wrap{
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 30px;
}
.social-wrap img{
width: 100%;
}
/* Footer section ====================================================== */
#footer{
background: var(--accent-bg);
padding: 100px 0 45px;
}
.footer-wrap{
grid-template-columns: 1fr 1fr 1fr 1fr;
}
#footer li:first-child{
font-weight: 500;
margin-bottom: 40px;
text-transform: uppercase;
}
#footer li{
margin-bottom: 15px;
}
#footer li a{
text-decoration: none;
color: var(--main-text);
}
.footer-platform-pane{
background: #fff;
border-radius: 5px;
padding: 12px;
display: block;
text-decoration: none;
}
.footer-mobile-wrap{
grid-template-columns: 1fr;
grid-gap: 20px;
}
#footer-apple{
background: var(--accent-color);
}
#footer-apple p{
color: #fff;
}
.footer-platform-pane p{
text-transform: uppercase;
font-weight: 500;
}
.footer-platform-pane p:first-child{
color: var(--additional-text);
font-weight: 400;
}
.footer-platform-pane p:last-child{
color: var(--main-text);
}
.platform-logo{
align-items: center;
margin-right: 8px;
}
.footer-underline{
margin-top: 30px;
background: var(--additional-text);
}
.footer-social-wrap{
margin-top: 25px;
justify-content: start !important;
}
.footer-social-wrap a{
width: 30px;
height: 30px;
align-items: center;
background: #fff;
margin-right: 10px;
}
.social-headline{
font-weight: 500 !important;
text-transform: uppercase;
}
.footer-copyright{
text-align: center;
color: var(--secondary-text);
}
.footer-copyright a{
text-decoration: none;
color: var(--accent-color);
}
/* Utility classes =============================================================================================================== */
:root{
--main-text: #000;
--secondary-text: #565656;
--additional-text: #888888;
--accent-color: #ff5353;
--accent-bg: #eae2d9;
}
section:not(:first-child){
padding: 50px 0;
}
.container{
width: 60%;
margin: 0 auto;
}
.flex-container{
display: flex;
justify-content: space-between;
}
.flex-container-center{
display: flex;
justify-content: center;
}
.grid-container{
display: grid;
}
.text-xs{
font-size: 12px;
font-weight: 300;
}
.text-s{
font-size: 14px;
font-weight: 300;
}
.text-md{
font-size: 20px;
font-weight: 700;
}
.text-lg{
font-size: 36px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
margin: 0 auto 70px;
}
.text-xl{
font-size: 60px;
font-weight: 700;
}
.btn{
background: var(--accent-color);
text-transform: uppercase;
color: #fff;
border-radius: 5px;
border: none;
outline: none;
padding: 20px 45px;
display: block;
margin: auto;
font-weight: 500;
cursor: pointer;
}
.item-img{
width: 100%;
margin-bottom: 20px;
-webkit-transition: 0.5s ease;
}
.item-img:hover{
opacity: 0.5;
transition: 0.5s;
cursor: pointer;
}
.stars{
margin: 10px 0;
}
.stars img{
margin: 0 3px;
}
.item-text{
 text-align: center;
}
/* Media ========================================================== */
@media screen and (max-width: 1280px){
 #nav-center{
  display: none;
 }
 .featured-wrap, .trending-wrap,  .journal-wrap, .popular-wrap, .features-wrap, .social-wrap{
 grid-template-columns: 1fr 1fr;
 }
 .text-s{
  font-size: 20px;
 }
 .container{
    width: 80%;
    }
    .item-img:hover{
        opacity: 1;
        }
}
@media screen and (max-width: 768px){
    .header-info li{
        font-size: 11px;
        }
    .header-main{
     background: url(../img/bg/bg-1.jpg);
     grid-template-columns: 1fr 0fr;
    }
    .header-left h1{
    width: 90%;
    }
    #discount{
    padding: 100px 0 0 0 ;
    }
    .discount-wrap{
    grid-template-columns: 1fr;
    grid-gap: 50px;
    }
    .discount-img{
    width: 40vw;
    }
    .journal-bottom img{
     width: 14px;
     height: 14px;
    }
    .footer-wrap{
     grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    }
}
@media screen and (max-width: 640px){
    .header-info{
        display: none;
    }
    .featured-wrap, .trending-wrap,  .journal-wrap, .popular-wrap, .features-wrap, .social-wrap{
        grid-template-columns: 1fr;
        }
}
@media screen and (max-width: 425px){
.discount-img{
width: 70vw;
}
}
@media screen and (max-width: 375px){
    .footer-wrap{
     grid-template-columns: 1fr;
     grid-gap: 30px;
    }
    .footer-platform-wrap{
    justify-content: center;
    }
    .social-headline{
    text-align: center;
    }
    .footer-social-wrap{
     justify-content: center !important;
    }
    #footer{
    padding: 50px 0 45px 0;
    }
    #footer li{
     text-align: center;
    }
}
